<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929787487512-au6juda220drde2uj4qgs665tsq658sa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929787487512-au6juda220drde2uj4qgs665tsq658sa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>929787487512-vgktrtt4vo57b6cu1l8odleovk9qtb4m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBROsOZAGVDtrGa7Ap31g5QxRVqZ3mcuTk</string>
	<key>GCM_SENDER_ID</key>
	<string>929787487512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zml.burt</string>
	<key>PROJECT_ID</key>
	<string>burt-carmgr</string>
	<key>STORAGE_BUCKET</key>
	<string>burt-carmgr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929787487512:ios:2d766c81c4a9da2c96ea6d</string>
</dict>
</plist>